        <div class="footer">
            <div class="footerLinks">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="https://www.facebook.com/paul.tracy.585"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="https://github.com/Ptracy15"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="https://twitter.com/ptracy16"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <br>
           <p class="trademark">TradeMark PKK</p>
        </div>
  </body>
</html>