<% include ./partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1>About Me</h1>
        <div class="row">
            <div class="col-xs-3 tinypic">
                <img src="http://www.prepsportswear.com/media/images/college_logos/300x300/2503648_mktg_logo.png">
            </div>
            <div class="col-xs-6 profilePic">
                <img src="http://i.imgur.com/CESCVKA.jpg">
            </div>
            <div class="col-xs-3 tinypic">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/eb/Ljungskile_SK_logo.svg/1024px-Ljungskile_SK_logo.svg.png">
            </div>
        </div>
        <h3><a href="#education" data-toggle="collapse">Education</a></h3>
        <ul id="education" class="collapse">
            <li>Bachelors Degree - UIC - Marketing</li>
            <li>Masters Degree - UIC - Management Information Systems</li>
        </ul>
        <h3><a href="#technical" data-toggle="collapse">Technical Abilities</a></h3>
        <ul id="technical" class="collapse">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Java</li>
            <li>SQL</li>
            <li>MySQL</li>
        </ul>
    </div>
</div>

<% include ./partials/footer %>