<% include ./partials/header %>

<div class="topParallax">
    <div class="header">
        <h1><strong>Paul Tracy </strong></h1>
        <div class="footerLinks">
            
        <div class="subtext">
            <p>Currently Seeking Employment</p>
        </div>
        

        <div class="row">
            <div class="social-media-links col-xs-4">
                <a href="https://www.facebook.com/paul.tracy.585"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                <p>Facebook</p>
            </div>
            <div class="social-media-links col-xs-4">
                <a href="https://github.com/Ptracy15"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                <p>Github</p>
            </div>
            <div class="social-media-links col-xs-4">
                <a href="https://www.linkedin.com/in/paulptracy/"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
                <p>Linked-in</p>
            </div>
        </div>
    </div>
    </div>
    
</div>

<div class="aboutMeSection">
    
    <h1>ABOUT ME</h1>
    <p>Former professional soccer player turned Information Systems fanatic. I am a recent graduate from the University
    of Illinois at Chicago with a Masters in Management Information Systems. During my time at UIC I developed many different
    technical and business skills that are geared towards being a well rounded member of any business unit.</p>
    <div class="row match-my-cols">
        <div class="col-sm-4">
            <div class="skillBox">
            <span><i class="fa fa-code"></i></span>
            <p>Full Stack Web Development</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="skillBox">
            <span><i class="fa fa-database"></i></span>
            <p>Database Architecture / Creation</p>
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="skillBox">
            <span><i class="fa fa-comments"></i></span>
            <p>Business IT Consulting</p>
            </div>
        </div>
        
    </div>
</div>


<div class="secondParallax"></div>
<div class="education">
    <div>
        
    </div>
</div>



<% include ./partials/footer %>