<% include ./partials/header %>

<div class="topParallax" id="home">
    <div class="header">
        <h1><strong>Paul Tracy </strong></h1>
        <div class="footerLinks">
            
        <div class="subtext">
            <p>Currently Seeking Employment</p>
        </div>
        

        <div class="row">
            <div class="social-media-links col-xs-4">
                <a href="https://www.facebook.com/paul.tracy.585"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                <p>Facebook</p>
            </div>
            <div class="social-media-links col-xs-4">
                <a href="https://github.com/Ptracy15"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                <p>Github</p>
            </div>
            <div class="social-media-links col-xs-4">
                <a href="https://www.linkedin.com/in/paulptracy/"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
                <p>Linked-in</p>
            </div>
        </div>
    </div>
    </div>
    
</div>

<div class="aboutMeSection" id="aboutMe">
    
    <h1><strong class="divHeader">About Me</strong></h1>
    <p>Former professional soccer player turned Information Systems fanatic. I am a recent graduate from the University
    of Illinois at Chicago with a Masters in Management Information Systems. During my time at UIC I developed many different
    technical and business skills that are geared towards being a well rounded member of any business unit.</p>
    <br>
    <div class="row match-my-cols">
        <div class="col-sm-4">
            <div class="skillBox">
            <span><i class="fa fa-code"></i></span>
            <p>Application Development</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="skillBox">
            <span><i class="fa fa-database"></i></span>
            <p>Database Architecture / Creation</p>
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="skillBox">
            <span><i class="fa fa-comments"></i></span>
            <p>Business IT Consulting</p>
            </div>
        </div>
        
    </div>
</div>


<div class="secondParallax"></div>


<div class="education" id="education">
    <h1><span class="uicLogo tinypic">
        <img src="http://www.prepsportswear.com/media/images/college_logos/300x300/2503648_mktg_logo.png"></span>
            <strong class="divHeader">Education</strong>
        <span class="uicLogo tinypic">
        <img src="http://www.prepsportswear.com/media/images/college_logos/300x300/2503648_mktg_logo.png"></span>
    </h1>

    <br>
    <p>BS - Marketing</p>
    <p>MS - Management Information Systems</p>
    <h3><a class="btn btn-primary" href="#technical" data-toggle="collapse">Technical Abilities</i></a></h3>
    <br>
        <ul id="technical" class="collapse">
            <div class="row">
                <div class="col-sm-3">
                    <span><i class="fa fa-html5"></i></span>
                    <li>HTML 5</li>
                </div><div class="col-sm-3">
                    <span><i class="fa fa-css3"></i></span>
                    <li>CSS 3</li>
                </div><div class="col-sm-3">
                    <img class="devIcon" src="http://ottawajs.org/meetups/img/ottawajs.png">
                    <li>JavaScript</li>
                </div><div class="col-sm-3">
                    <img class="devIcon" src="http://findicons.com/files/icons/1008/quiet/256/java.png">
                    <li>Java</li>
                </div><div class="col-sm-3">
                    <i class="fa fa-database"></i>
                    <li>SQL</li>
                </div><div class="col-sm-3">
                    <img class="devIcon" src="https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/mysql-icon.png">
                    <li>MySql</li>
                </div>
                <div class="col-sm-3">
                    <img class="devIcon" src="https://cdn2.iconfinder.com/data/icons/nodejs-1/512/nodejs-512.png">
                    <li>Node</li>
                </div>
            </div>
        </ul>
</div>

<div class="thirdParallax"></div>

<div class="myWork" id="myWork">
    <h1><span class="divHeader"><strong>My Work</strong></span></h1>
    <br>
        <div class="row" style="display:flex; flex-wrap: wrap;">
        
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-16">
                <div class="thumbnail img-responsive">
                    <img src="http://i.imgur.com/EDaGf5E.png" >
                    <div class="caption">
                        <h4>YelpCamp</h4>
                        <p>
                        <a href="https://ptyelpcamp.herokuapp.com/" class="btn btn-primary">View Page</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-16">
                <div class="thumbnail img-responsive">
                    <img src="http://i.imgur.com/rFkCGge.png" >
                    <div class="caption">
                        <h4>To-Do List</h4>
                        <p>
                        <a href="https://ptracy15.github.io/" class="btn btn-primary">View Page</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail img-responsive">
                    <img src="http://i.imgur.com/sIISFLe.png" >
                    <div class="caption">
                        <h4>Tracy Interiors</h4>
                        <p>
                        <a href="https://ancient-refuge-96615.herokuapp.com/" class="btn btn-primary">View Page</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail img-responsive">
                    <img src="http://i.imgur.com/fzRJfSP.png" >
                    <div class="caption">
                        <h4>Weather App</h4>
                        <p>
                        <a href="https://shrouded-harbor-87927.herokuapp.com/" class="btn btn-primary">View Page</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
</div>

<div class="fourthParallax"></div>



<% include ./partials/footer %>