<% include ./partials/header %>

<div class="container">
        <div class="homeHeader">
            <h1>Paul Tracy</h1>
        </div>
        
        <div class="contactPictureDiv">
            <img class="img-fluid contactPicture" src="http://i.imgur.com/20e8Men.jpg">
        </div>
        <br>
        
   
</div>



<% include ./partials/footer %>