<% include ./partials/header %>

<div class="container">
    <div class="jumbotron">
        <div class="contactPictureDiv">
            <img class="contactPicture" src="http://i.imgur.com/n5OA7CW.png">
        </div>
        
    </div>
</div>



<% include ./partials/footer %>