<% include ./partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1>Completed Projects</h1>
        <div class="row" style="display:flex; flex-wrap: wrap;">
        
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail img-responsive">
                    <img src="http://i.imgur.com/EDaGf5E.png" >
                    <div class="caption">
                        <h4>YelpCamp</h4>
                        <p>
                        <a href="https://ptyelpcamp.herokuapp.com/" class="btn btn-primary">View Page</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail img-responsive">
                    <img src="http://i.imgur.com/rFkCGge.png" >
                    <div class="caption">
                        <h4>To-Do List</h4>
                        <p>
                        <a href="https://ptracy15.github.io/" class="btn btn-primary">View Page</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail img-responsive">
                    <img src="http://i.imgur.com/sIISFLe.png" >
                    <div class="caption">
                        <h4>Tracy Interiors</h4>
                        <p>
                        <a href="https://ancient-refuge-96615.herokuapp.com/" class="btn btn-primary">View Page</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<% include ./partials/footer %>