body {
    padding-top: 30px;
    background-color: #1a2930;
    font-family: 'Inconsolata', monospace;
}

.jumbotron {
    background-color: #c5c1c0;
    /*border-style: solid;*/
    /*border-color: #f7ce3e;*/
}

.navbar {
    background-color: #003366;
    border-radius: 0px !important;
}

.navbar a{
    color: white !important;
}

.jumbotron h1 {
    text-align: center;

}

.trademark {
    text-align: center;
}

.homeHeader {
    text-align: center;
    color: white;
}

.contactPictureDiv {
    text-align: center;

}

.contactPicture {
    margin-top: 15px;
    width: 60%;
    height: auto;
    border-radius:15px;
}

.caption {
    text-align: center;
}

.thumbnail {
    margin-top: 15px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: auto;
}

.tinypic {
    text-align: center;
}

.profilePic img{
    width:100%;
}

.tinypic img {
    margin-top: 50px;
    width:75px;
    height:75px;
}

.footerLinks {
    text-align: center;
    margin-top: 15px;
}

